*.pyc
.idea
dist
*.egg-info
*.terraform
.python-version
.DS_Store
build/
.terraform.d
.aws
.bash_history
.cache
/.coverage
.venv/
.pytest_cache/
coverage
test-reports
tests/reports
coverage.xml
.coverage
.coverage.*
.cache